<div class="hr-dark w-100"></div>

<!-- Total  -->
<div class="row">
    <div class="col-12 text-right my-4">
        <span>DONATION TOTAL: <strong>&euro;{{ total|floatformat:2 }}</strong></span>
    </div>
</div>

<!-- Buttons -->
{% include "cart/cart_buttons.html" %}

<div class="hr-dark w-100 mt-5"></div>

<!-- Summary -->
<div class="d-flex">
    <p class="my-3">Donation Summary({{ request.session.cart.keys|length }}):</p>
</div>

<!-- project details -->

{% for item in cart_items %}
<div class="row my-2 donated-project">
    <div class="col-4 p-0">
        {% include "cart/project-img.html" %}
    </div>

    <div class="col-8">
        <div><strong>{{ item.project.name }} in {{ item.project.country|capfirst  }}</strong></div>
        <div><small class="text-muted"><i class="fas fa-tag fa-fw mr-1"></i>{{ item.project.category }}<i
                    class="fas fa-map-pin fa-fw mx-1"></i>{{ item.project.pin_id }}</small></div>
    </div>
    <div class="hr-dark w-100 my-1"></div>

    <!-- donation amount -->
    <div class="col-12 my-1">
        <span>Amount: <strong>&euro;{{ item.donation_amount|floatformat:2 }}</strong> </span>


        {% include "cart/update_remove_donation.html" %}
    </div>
</div>
{% endfor %}