{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}" />
{% endblock %}

{% block content %}

<section id="donation-cart">
    <div class="container">
        <h2>Donation Cart</h2>
        {% if cart_items %}
        <div class="d-sm-none">
            {% include "cart/cart_mobile.html" %}
        </div>
        <div class="d-none d-sm-block">
            {% include "cart/cart_desktop.html" %}
        </div>
        <!-- if no donation -->
        {% else %}
        <div class="row">
            <div class="col-12 col-sm-6 col-md-5 mt-3">
                <img class="no-donation-img w-100 shadow"
                    src="https://images.unsplash.com/photo-1593331170803-e40e8f728c6f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fG1lZXJrYXR8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="">
            </div>
            <div class="col-12 col-sm-6 col-md-7 mt-3">
                <p>Sorry, you have not chosen a project to donate to yet.</p>
                <p>Why not take another look.</p>
                <a class="btn btn-outline-success browse-btn" href="{% url 'projects' %}">
                    <i class="fas fa-chevron-left mr-2"></i>
                    Browse Projects
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // remove cart item
    $('.remove-donation').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/cart/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}