{% extends 'base.html' %}
{% load static %}

{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/contact.css' %}" />
{% endblock %}

<section id="contact">
    <div class="container">
        <h2>Get in touch!</h2>
        <div class="row mx-1 my-3">
            <div class="col">
                <div class="h5">Fill in the form below, or contact us directly on:</div>
                <div><i class="fas fa-phone fa-lg"> +00 (0)  00 000 0000</i></div>
            </div>
        </div>
        <div class="row contactForm-row mx-1">
            <div class="d-none d-md-block col-md-5 p-0">
                <img class="contact-image w-100 h-100 p-3"
                    src="{% static 'images/contact-img.png' %}"
                    alt="Giraffe face">
            </div>
            <div class="col-12 col-md-7">
                <!-- Contact form -->
                <form class="p-3" id="contactForm" action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <!-- Send button -->
                    <button class="btn btn-block btn-customGreen" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}