{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="mainCarousel">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1543682704-15adeb008ac4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=641&q=80)">

                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Welcome to FundPIN</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1555492217-7bb078f32c8e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Wildlife Conservation</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1576055150289-5cb6edcf5fae?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=632&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Education</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1602587557695-9fa83da489c8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Marine Conservation</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1230&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Child Safety</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1515658323406-25d61c141a6e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=653&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Women's Rights</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1507461476191-0ed4f9f18533?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Wildlife Conservation</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1473649085228-583485e6e4d7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1489&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Education</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1473605768212-7e1f2c756179?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Community Development</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1519659528534-7fd733a832a0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1226&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Widllife</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>



<section id="lead-in-section" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-2 p-2"></i>
                <div class="lead-in-block"><i class="fas fa-home"></i></div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 p-2"></i>
                <div class="lead-in-block"><i class="fas fa-home"></i></div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 p-2"></i>
                <div class="lead-in-block"><i class="fas fa-home"></i></div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 p-2"></i>
                <div class="lead-in-block"><i class="fas fa-home"></i></div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 p-2"></i>
                <div class="lead-in-block"><i class="fas fa-home"></i></div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 p-2"></i>
                <div class="lead-in-block"><i class="fas fa-home"></i></div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <section id="about-section">
        <h2>ABOUT</h2>
    </section>

    <section id="featured-section">
        <h2>FEATURED</h2>
    </section>

    <section id="blog-section">
        <h2>BLOG</h2>
    </section>

    <section id="supporters-section">
        <h2>SUPPORTERS</h2>
    </section>

    <section id="above-footer">
        <h2>IMAGES ABOVE FOOTER</h2>
    </section>
</div>

{% endblock %}