{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="mainCarousel">
    <!-- Swiper -->
    <div class="swiper-container main-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1543682704-15adeb008ac4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=641&q=80)">

                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Welcome to FundPIN</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1555492217-7bb078f32c8e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Wildlife Conservation</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1576055150289-5cb6edcf5fae?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=632&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Education</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1602587557695-9fa83da489c8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Marine Conservation</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1230&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Child Safety</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1515658323406-25d61c141a6e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=653&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Women's Rights</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1507461476191-0ed4f9f18533?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Wildlife Conservation</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1473649085228-583485e6e4d7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1489&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Education</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1473605768212-7e1f2c756179?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Community Development</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">donate</a> to a
                                project
                                today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                style="background-image:url(https://images.unsplash.com/photo-1519659528534-7fd733a832a0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1226&q=80)">
                <div class="d-flex h-100">
                    <div class="slide-text-wrapper container">
                        <div class="home-slide-text">
                            <!-- title -->
                            <div class="home-swiper-title">
                                <h2>Support Widllife</h2>
                                <div class="break-line"></div>
                            </div>
                            <!-- text -->
                            <div class="home-swiper-text">
                                <p>
                                    Help us enable organisations around the globe to keep protecting, conserving
                                    and
                                    educating.
                                </p>
                            </div>
                            <!-- donate button -->
                            <div class="home-slide-btn">
                                <a href="" class="badge badge-pill badge-danger text-uppercase">
                                    donate
                                </a> to a project today!
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>

<section id="lead-in-section" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-2 p-2">
                <div class="lead-in-block"><img src="{% static 'images/svg/eco-icon.svg' %}"
                        alt="eco leaf icon">Environment</div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 p-2">
                <div class="lead-in-block"><img src="{% static 'images/svg/vol-icon.svg' %}"
                        alt="hand and heart icon">Community</div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 p-2">
                <div class="lead-in-block"><img src="{% static 'images/svg/paw-icon.svg' %}" alt="paw icon">Wildlife
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 p-2">
                <div class="lead-in-block"><img src="{% static 'images/svg/edu-icon.svg' %}"
                        alt="education hat icon">Education</div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 p-2">
                <div class="lead-in-block"><img src="{% static 'images/svg/marine-icon.svg' %}" alt="waves icon">Marine
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 p-2">
                <div class="lead-in-block"><img src="{% static 'images/svg/health-icon.svg' %}"
                        alt="medical icon">Health</div>
            </div>
        </div>
    </div>
</section>

<section id="about-section">
    <div class="container">
        <div class="about-wrapper">

            <h2>About Us</h2>

            <!-- Swiper -->
            <div class="swiper-container about-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"
                        style="background-image:url(https://images.unsplash.com/photo-1552323543-4cffa4ffffe3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDJ8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
                    </div>
                    <div class="swiper-slide"
                        style="background-image:url(https://images.unsplash.com/photo-1480926965639-9b5f63a0817b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fG5hdHVyZSUyMGJhY2tncm91bmR8ZW58MHwyfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
                    </div>
                    <div class="swiper-slide"
                        style="background-image:url(https://images.unsplash.com/photo-1494791368093-85217fbbf8de?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fG5hdHVyZSUyMGJhY2tncm91bmR8ZW58MHwyfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
                    </div>
                    <div class="swiper-slide"
                        style="background-image:url(https://images.unsplash.com/photo-1485110168560-69d4ac37b23e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YWZyaWNhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
                    </div>
                    <div class="swiper-slide"
                        style="background-image:url(https://images.unsplash.com/photo-1547970810-dc1eac37d174?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8YWZyaWNhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
                    </div>
                </div>
            </div>

            <p class="text-justify pl-3 pr-3">
                Around the world there are groups and individuals who work tirelessly and selflessly towards
                supporting impoverished communities, protecting natural wildlife and sustaining our environmental
                resources.
            </p>
            <p class="text-justify pl-3 pr-3">
                One of the main sources of income for these incredible endeavours has been from the International
                Volunteer platform, which grew rapidly in popularity in the mid-90's. Volunteer Organisations
                offered a structured way for people to travel to far-out destinations for a set fee, which enabled
                the orginations to thrive and grow. The knock-on effect was that these organisations were able to
                assist more projects as they grew by provinding funding to them for each volunteer they send.
            </p>
            <p class="text-justify pl-3 pr-3">
                The immense benefit to the projects was not only in the form of financial support, but provided
                physical presence of volunteers to assist with various tasks, which the projects could otherwise not
                afford to hire staff for.One of the main sources of income for these incredible endeavours has been
                from the International Volunteer platform, which grew rapidly in popularity in the mid-90's.
            </p>
        </div>
        <div class="about-wrapper">
            <h5 class="pl-3">Current Crisis</h5>

            <p class="text-justify pl-3 pr-3">The onset of the COVID crisis in early 2020 brought international travel
                to an abrupt halt, and as a
                result, a huge majority of Volunteer Organisations stopped operating. This, of course, meant that
                the projects' main source of income ceased almost immediately and significantly impeded the
                projects' ability to run effectively.
            </p>
            <p class="text-justify pl-3 pr-3">
                <strong>FundPIN (Fund Projects In Need)</strong> is dedicated to networking, supporting, and raising
                funds for
                non-profit organisations worldwide by providing an online platform, whereby users can find projects
                they are interested in supporting, donate to them directly through the site, and get updates on the
                progression and status of each.
            </p>
        </div>
    </div>

</section>

<section id="featured-section">
    <div class="container">
        <h2>Featured Projects</h2>
    </div>
    <div class="container-fluid">
        <!-- Swiper -->
        <div class="swiper-container feature-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img
                        src="https://images.unsplash.com/photo-1505649118510-a5d934d3af17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YWZyaWNhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://images.unsplash.com/photo-1505649118510-a5d934d3af17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YWZyaWNhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://images.unsplash.com/photo-1505649118510-a5d934d3af17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YWZyaWNhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://images.unsplash.com/photo-1505649118510-a5d934d3af17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YWZyaWNhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://images.unsplash.com/photo-1505649118510-a5d934d3af17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YWZyaWNhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://images.unsplash.com/photo-1505649118510-a5d934d3af17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YWZyaWNhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://images.unsplash.com/photo-1505649118510-a5d934d3af17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YWZyaWNhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://images.unsplash.com/photo-1505649118510-a5d934d3af17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YWZyaWNhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://images.unsplash.com/photo-1505649118510-a5d934d3af17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YWZyaWNhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://images.unsplash.com/photo-1505649118510-a5d934d3af17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YWZyaWNhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section id="blog-section">
    <h2>BLOG</h2>
</section>

<section id="supporters-section">

    <div class="container">
        <h2>We Support</h2>
        <div class="row">

            <div class="col-6 col-sm-4 col-md-2 p-2">
                <div class="feature-block"><img
                        src="https://www.varierfurniture.com/var/ezwebin_site/storage/images/media/files/logos/wwf-logo/1265672-2-eng-GB/wwf-logo_imagelarge.jpg"
                        alt="wwf logo"></div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 p-2">
                <div class="feature-block"><img
                        src="https://media-exp1.licdn.com/dms/image/C4D0BAQEBvamJYDNoOQ/company-logo_200_200/0/1580748071969?e=2159024400&v=beta&t=EQeP8ASdB-0tjouKYDEW3SNwM8HjiNacUmwk5yEKoCo"
                        alt="unicef logo"></div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 p-2">
                <div class="feature-block"><img
                        src="https://pbs.twimg.com/profile_images/739570043298582531/mT7uAQAf.jpg" alt="wwf logo"></div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 p-2">
                <div class="feature-block"><img
                        src="https://i1.wp.com/1.bp.blogspot.com/-Rn14uUNNpes/Xfe538C6VsI/AAAAAAAAWho/ZVSsDMhxaQUPDMhC5Fm7WRiJRXsokDYvQCLcBGAsYHQ/s1600/Jane%2BGoodall%2BInstitute.png?ssl=1"
                        alt="wwf logo"></div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 p-2">
                <div class="feature-block"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw4DT-yVsJT-jc0YQaNq_EGLbveBEbG5Mulw&usqp=CAU"
                        alt="unicef logo"></div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 p-2">
                <div class="feature-block"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9-5LhUuNiTFqtwUja6FbpMegVMqWl6UPzOA&usqp=CAU"
                        alt="unicef logo"></div>
            </div>
        </div>
    </div>
</section>

<section id="above-footer">
    <h2>IMAGES ABOVE FOOTER</h2>
</section>


{% endblock %}