{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/vendor/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}" />
{% endblock %}

{% block content %}

    <div id="mainCarousel">
        <!-- Swiper Main Carousel -->
        <div class="swiper-container main-swiper">
            <div class="swiper-wrapper">
                <!-- Hero slide -->
                <div class="swiper-slide hero-slide">
                    <div class="d-flex h-100">
                        <div class="slide-text-wrapper container">
                            <div class="home-slide-text">
                                <!-- title -->
                                <div class="home-swiper-title">
                                    <h2 class="my-2 py-2">FundPIN</h2>
                                    <div class="hr-light"></div>
                                </div>
                                <!-- text -->
                                <div class="home-swiper-text">
                                    <p class="my-3">
                                        Empowering organisations around the globe to protect, conserve and
                                        educate.
                                    </p>
                                    <p class="my-3">Help us to help them.
                                    </p>
                                </div>
                                <!-- donate button -->
                                <div class="home-slide-btn">
                                    <span>---</span>
                                    <a href="{% url 'projects' %}" class="badge badge-pill text-uppercase mx-2">
                                        donate
                                        <i class="ml-1 fas fa-hand-holding-heart"></i>
                                    </a>
                                    <span>to a project today!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Environment slide -->
                <div class="swiper-slide eco-slide">
                    <div class="d-flex h-100">
                        <div class="slide-text-wrapper container">
                            <div class="home-slide-text">
                                <!-- title -->
                                <div class="home-swiper-title">
                                    <h2 class="my-2 py-2">Support Environmental Awareness</h2>
                                    <div class="hr-light"></div>
                                </div>
                                <!-- text -->
                                <div class="home-swiper-text">
                                    <p class="my-3">
                                        Our projects are helping to sustain our natural resources.
                                    </p>
                                    <p class="my-3">Help us to help them.
                                    </p>
                                </div>
                                <!-- donate button -->
                                <div class="home-slide-btn">
                                    <span>---</span>
                                    <a href="{% url 'projects' %}?category=environment"
                                        class="badge badge-pill text-uppercase mx-2">
                                        donate
                                        <i class="ml-1 fas fa-hand-holding-heart"></i>
                                    </a>
                                    <span>to an Environmental project today!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Wildlife Conservation slide -->
                <div class="swiper-slide wildlife-slide">
                    <div class="d-flex h-100">
                        <div class="slide-text-wrapper container">
                            <div class="home-slide-text">
                                <!-- title -->
                                <div class="home-swiper-title">
                                    <h2 class="my-2 py-2">Support Wildlife Conservation</h2>
                                    <div class="hr-light"></div>
                                </div>
                                <!-- text -->
                                <div class="home-swiper-text">
                                    <p class="my-3">
                                        Our projects are protecting our wildlife species.
                                    </p>
                                    <p class="my-3">Help us to help them.
                                    </p>
                                </div>
                                <!-- donate button -->
                                <div class="home-slide-btn">
                                    <span>---</span>
                                    <a href="{% url 'projects' %}?category=wildlife"
                                        class="badge badge-pill text-uppercase mx-2">
                                        donate
                                        <i class="ml-1 fas fa-hand-holding-heart"></i>
                                    </a>
                                    <span>to a Wildlife project today!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Marine Conservation slide -->
                <div class="swiper-slide marine-slide">
                    <div class="d-flex h-100">
                        <div class="slide-text-wrapper container">
                            <div class="home-slide-text">
                                <!-- title -->
                                <div class="home-swiper-title">
                                    <h2 class="my-2 py-2">Support Marine Conservation</h2>
                                    <div class="hr-light"></div>
                                </div>
                                <!-- text -->
                                <div class="home-swiper-text">
                                    <p class="my-3">
                                        Our projects are protecting our oceans and marine life.
                                    </p>
                                    <p class="my-3">Help us to help our Oceans.
                                    </p>
                                </div>
                                <!-- donate button -->
                                <div class="home-slide-btn">
                                    <span>---</span>
                                    <a href="{% url 'projects' %}?category=marine"
                                        class="badge badge-pill text-uppercase mx-2">
                                        donate
                                        <i class="ml-1 fas fa-hand-holding-heart"></i>
                                    </a>
                                    <span>to a Marine project today!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Community Development slide -->
                <div class="swiper-slide community-slide">
                    <div class="d-flex h-100">
                        <div class="slide-text-wrapper container">
                            <div class="home-slide-text">
                                <!-- title -->
                                <div class="home-swiper-title">
                                    <h2 class="my-2 py-2">Support Community Development</h2>
                                    <div class="hr-light"></div>
                                </div>
                                <!-- text -->
                                <div class="home-swiper-text">
                                    <p class="my-3">
                                        Our projects are providing underprivileged communities with a better future.
                                    </p>
                                    <p class="my-3">Help us to help them.
                                    </p>
                                </div>
                                <!-- donate button -->
                                <div class="home-slide-btn">
                                    <span>---</span>
                                    <a href="{% url 'projects' %}?category=community"
                                        class="badge badge-pill text-uppercase mx-2">
                                        donate
                                        <i class="ml-1 fas fa-hand-holding-heart"></i>
                                    </a>
                                    <span>to a Community project today!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Education slide -->
                <div class="swiper-slide education-slide">
                    <div class="d-flex h-100">
                        <div class="slide-text-wrapper container">
                            <div class="home-slide-text">
                                <!-- title -->
                                <div class="home-swiper-title">
                                    <h2 class="my-2 py-2">Support Education</h2>
                                    <div class="hr-light"></div>
                                </div>
                                <!-- text -->
                                <div class="home-swiper-text">
                                    <p class="my-3">
                                        Our projects are providing essential education to those less fortunate.
                                    </p>
                                    <p class="my-3">Help us to help them.
                                    </p>
                                </div>
                                <!-- donate button -->
                                <div class="home-slide-btn">
                                    <span>---</span>
                                    <a href="{% url 'projects' %}?category=education"
                                        class="badge badge-pill text-uppercase mx-2">
                                        donate
                                        <i class="ml-1 fas fa-hand-holding-heart"></i>
                                    </a>
                                    <span>to an Education project today!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Health slide -->
                <div class="swiper-slide health-slide">
                    <div class="d-flex h-100">
                        <div class="slide-text-wrapper container">
                            <div class="home-slide-text">
                                <!-- title -->
                                <div class="home-swiper-title">
                                    <h2 class="my-2 py-2">Support Health and Safety</h2>
                                    <div class="hr-light"></div>
                                </div>
                                <!-- text -->
                                <div class="home-swiper-text">
                                    <p class="my-3">
                                        Our projects are providing proper healthcare and a safe environment to those in
                                        need.
                                    </p>
                                    <p class="my-3">Help us to help them.
                                    </p>
                                </div>
                                <!-- donate button -->
                                <div class="home-slide-btn">
                                    <span>---</span>
                                    <a href="{% url 'projects' %}?category=health"
                                        class="badge badge-pill text-uppercase mx-2">
                                        donate
                                        <i class="ml-1 fas fa-hand-holding-heart"></i>
                                    </a>
                                    <span>to a Healthcare project today!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <section id="lead-in">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2 p-2">
                    <a href="{% url 'projects' %}?category=environment">
                        <div class="lead-in-block">
                            <img src="{% static 'images/svg/eco-icon.svg' %}" alt="eco leaf icon">
                            Environment
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 p-2">
                    <a href="{% url 'projects' %}?category=wildlife">
                        <div class="lead-in-block">
                            <img src="{% static 'images/svg/paw-icon.svg' %}" alt="paw icon">
                            Wildlife
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 p-2">
                    <a href="{% url 'projects' %}?category=marine">
                        <div class="lead-in-block">
                            <img src="{% static 'images/svg/marine-icon.svg' %}" alt="waves icon">
                            Marine
                        </div>
                    </a>    
                </div>
                <div class="col-6 col-sm-4 col-md-2 p-2">
                    <a href="{% url 'projects' %}?category=community">
                        <div class="lead-in-block">
                            <img src="{% static 'images/svg/vol-icon.svg' %}" alt="hand and heart icon">
                            Community
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 p-2">
                    <a href="{% url 'projects' %}?category=education">
                        <div class="lead-in-block">
                            <img src="{% static 'images/svg/edu-icon.svg' %}" alt="education hat icon">
                            Education
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 p-2">
                    <a href="{% url 'projects' %}?category=health">
                        <div class="lead-in-block">
                            <img src="{% static 'images/svg/health-icon.svg' %}" alt="medical bag icon">
                            Health
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="about-section">
        <div class="container">
            <div class="about-wrapper">
                <h2>About Us</h2>
                <!-- About carousel -->
                <div class="swiper-container about-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide about-slide-logo">
                        </div>
                        <div class="swiper-slide about-slide">
                            <div>Fund</div>
                        </div>
                        <div class="swiper-slide about-slide">
                            <div>Projects</div>
                        </div>
                        <div class="swiper-slide about-slide">
                            <div>In</div>
                        </div>
                        <div class="swiper-slide about-slide">
                            <div>Need</div>
                        </div>
                    </div>
                </div>
                <!-- about content text -->
                <p class="text-justify pl-3 pr-3">
                    Around the world there are groups and individuals who work tirelessly and selflessly towards
                    supporting impoverished communities, protecting natural wildlife and sustaining our environmental
                    resources.
                </p>
                <p class="text-justify pl-3 pr-3">
                    One of the main sources of income for these incredible endeavours has been from the International
                    Volunteer platform, which grew rapidly in popularity in the mid-90's. Volunteer Organisations
                    offered a structured way for people to travel to far-out destinations for a set fee, which enabled
                    the orginations to thrive and grow. The knock-on effect was that these organisations were able to
                    assist more projects as they grew by provinding funding to them for each volunteer they send.
                </p>
                <p class="text-justify pl-3 pr-3">
                    The immense benefit to the projects was not only in the form of financial support, but provided
                    physical presence of volunteers to assist with various tasks, which the projects could otherwise not
                    afford to hire staff for.One of the main sources of income for these incredible endeavours has been
                    from the International Volunteer platform, which grew rapidly in popularity in the mid-90's.
                </p>
            </div>
            <div class="about-wrapper">
                <h5 class="pl-3">Current Crisis</h5>
                <p class="text-justify pl-3 pr-3">The onset of the COVID crisis in early 2020 brought international
                    travel
                    to an abrupt halt, and as a
                    result, a huge majority of Volunteer Organisations stopped operating. This, of course, meant that
                    the projects' main source of income ceased almost immediately and significantly impeded the
                    projects' ability to run effectively.
                </p>
                <p class="text-justify pl-3 pr-3">
                    <strong>FundPIN (Fund Projects In Need)</strong> is dedicated to networking, supporting, and raising
                    funds for
                    non-profit organisations worldwide by providing an online platform, whereby users can find projects
                    they are interested in supporting, donate to them directly through the site, and get updates on the
                    progression and status of each.
                </p>
            </div>
        </div>
    </section>

    <section id="featured-projects" class="px-0">
        <div class="container">
            <h2>Featured Projects</h2>
        </div>
        <div class="container-fluid">
            <div class="swiper-container featured-project-swiper">
                <div class="swiper-wrapper">
                    <!-- get all projects -->
                    {% for project in projects %}
                        {% if project.is_featured == True %}
                            <div class="swiper-slide">
                                {% include 'projects/project_cards.html' %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
    </section>

    <section id="support-section">
        <div class="container mb-3">
            <h2>We Support</h2>
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2 p-2">
                    <div class="support-block">
                        <img src="https://www.varierfurniture.com/var/ezwebin_site/storage/images/media/files/logos/wwf-logo/1265672-2-eng-GB/wwf-logo_imagelarge.jpg"
                            alt="wwf logo">
                        </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 p-2">
                    <div class="support-block">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQEBvamJYDNoOQ/company-logo_200_200/0/1580748071969?e=2159024400&v=beta&t=EQeP8ASdB-0tjouKYDEW3SNwM8HjiNacUmwk5yEKoCo"
                            alt="unicef logo">
                        </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 p-2">
                    <div class="support-block">
                        <img src="https://pbs.twimg.com/profile_images/739570043298582531/mT7uAQAf.jpg" 
                            alt="wwf logo">
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 p-2">
                    <div class="support-block">
                        <img src="https://i1.wp.com/1.bp.blogspot.com/-Rn14uUNNpes/Xfe538C6VsI/AAAAAAAAWho/ZVSsDMhxaQUPDMhC5Fm7WRiJRXsokDYvQCLcBGAsYHQ/s1600/Jane%2BGoodall%2BInstitute.png?ssl=1"
                            alt="wwf logo">
                        </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 p-2">
                    <div class="support-block">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw4DT-yVsJT-jc0YQaNq_EGLbveBEbG5Mulw&usqp=CAU"
                            alt="unicef logo">
                        </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 p-2">
                    <div class="support-block">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9-5LhUuNiTFqtwUja6FbpMegVMqWl6UPzOA&usqp=CAU"
                            alt="unicef logo">
                        </div>
                </div>
            </div>
        </div>
    </section>

    <section id="featured-blogs">
        <div class="container">
            <h2>Featured Blog Posts</h2>
        </div>
        <div class="container-fluid">
            <div class="swiper-container featured-blog-swiper">
                <div class="swiper-wrapper">
                    <!-- get all blog posts -->
                    {% for blog in blogs %}
                        {% if blog.status == 1 and blog.is_featured == True %}
                            <div class="swiper-slide">
                                <h4>{{ blog.title }}</h4>
                                <p>{{ blog.content|truncatewords:10|safe}}</p>
                                <a href="{% url 'blog_description' blog.slug %}" class="btn btn-customGreen blog-read-more-btn">
                                    Read More...
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <section id="contact-section">
        <div class="container">
            <h2>Keep in Touch</h2>
            <div class="jumbotron text-center">
                <p>Get in touch directly or subscribe to our monthly newsletter for exciting project updates!</p>
                <div class="hr-dark my-4"></div>
                <a class="btn contact-btn btn-lg" href="{% url 'contact' %}" role="button">Contact Us</a>
            </div>
        </div>
    </section>

    <div id="base-grid">
        <div class="d-flex">
            <div class="row m-0">
                <div class="col-12 col-lg-6 p-0">
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-1.png' %}" 
                            alt="African girl">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-2.png' %}" 
                            alt="African Rhinoceros">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-3.png' %}" 
                            alt="Wheatfield">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-4.png' %}" 
                            alt="Indian Family">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-5.png' %}"
                            alt="Mountain and beach scene">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-6.png' %}"
                            alt="Giraffe in African savanna">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-7.png' %}" 
                            alt="African Elepnat">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-8.png' %}"
                            alt="African child with football">
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-0">
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-9.png' %}" 
                            alt="Penguin on beach">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-10.png' %}"
                            alt="Malachite Kingfisher on small branch">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-11.png' %}"
                            alt="Dolphins swimming over waves">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-12.png' %}" 
                            alt="Herd of Wildebeest">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-13.png' %}"
                            alt="Indonesian woman with child on back">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-14.png' %}"
                            alt="Thailand mountain farms">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-15.png' %}" 
                            alt="Desert sand dune">
                    </div>
                    <div class="base-wrap">
                        <img class="base-img" src="{% static 'images/base-grid/base-16.png' %}" 
                            alt="Herd of African Zebra">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}