/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* === CONTACT PAGE === */

#contact .container {
    padding: 1rem;
}

.contactForm-row {
    border: 1px solid var(--logo-green);
}

.contact-image {
    -o-object-fit: cover;
    object-fit: cover;
    height: 120px;
}

#contactForm textarea {
    overflow-y: scroll;
    max-height: 100px;
    min-height: 100px;
}

/* --- MEDIA QUERIES --- */

@media (min-width: 768px) {
    #contact {
        padding-bottom: 2rem;
    }

    .contact-image {
        height: 250px;
    }
}

@media (min-width: 992px) {
    #contact .col-12 {
        padding: 0;
    }

    #contact form,
    .contact-image {
        padding: 1rem 0;
    }

    .contact-image {
        height: 100%;
    }
}

@media (min-width: 1024px) {
    #contact {
        padding-bottom: 3rem;
    }
}

@media (min-width: 1200px) {
    #contact {
        padding-bottom: 4rem;
    }
}