/* === CONTACT PAGE === */

#contact .container {
    padding: 1rem;
}

.contactForm-row {
    border: 1px solid var(--logo-green);
}

.contact-image {
    object-fit: cover;
    height: 120px;
}

#ContactFormMessage {
    overflow-y: scroll;
    max-height: 150px;
    min-height: 150px;
}

/* --- MEDIA QUERIES --- */

@media (min-width: 768px) {
    #contact {
        padding-bottom: 2rem;
    }

    .contact-image {
        height: 250px;
    }
}

@media (min-width: 992px) {
    #contact .col-12 {
        padding: 0;
    }

    #contact form,
    .contact-image {
        padding: 1rem 0;
    }

    .contact-image {
        height: 100%;
    }
}

@media (min-width: 1024px) {
    #contact {
        padding-bottom: 3rem;
    }
}

@media (min-width: 1200px) {
    #contact {
        padding-bottom: 4rem;
    }
}