body {
    background-color: var(--bg-grey);
}

/* MAIN CAROUSEL */
#mainCarousel .swiper-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#mainCarousel .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 95%;
    height: 60vh;
    box-shadow: var(--box-shadow);
}

#mainCarousel .swiper-container-horizontal>.swiper-pagination-bullets,
#mainCarousel.swiper-pagination-custom,
#mainCarousel.swiper-pagination-fraction {
    bottom: 0;
}

#mainCarousel {
    height: 70vh;
}

.hero-slide {
    background: url(/static/images/main-carousel/hero-slide.png);
}

.eco-slide {
    background: url(/static/images/main-carousel/eco-slide.png);
}

.community-slide {
    background: url(/static/images/main-carousel/community-slide.png);
}

.wildlife-slide {
    background: url(/static/images/main-carousel/wildlife-slide.png);
}

.education-slide {
    background: url(/static/images/main-carousel/education-slide.png);
}

.marine-slide {
    background: url(/static/images/main-carousel/marine-slide.png);
}

.health-slide {
    background: url(/static/images/main-carousel/health-slide.png);
}

.slide-text-wrapper {
    width: fit-content;
    background: #0000009c;
    color: var(--off-white);
    align-self: center;
    padding: 1rem;
    margin: auto .5rem;
    border-radius: .5rem;
}

.home-slide-btn span {
    font-weight: 400;
}

.home-slide-btn a {
    background-color: var(--logo-green);
    padding: 6px;
    color: var(--off-white);
    border-radius: .5rem;
}

.home-slide-btn a:hover {
    background-color: var(--p-light-grey);
    color: var(--p-warn);
    ;
}

.swiper-pagination-bullet {
    background-color: var(--links);
}

/* LEAD-IN SECTION */

#lead-in a {
    text-decoration: none;
}

.lead-in-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--logo-green);
    color: var(--p-dark-grey);
    background-color: var(--off-white);
    height: 120px;
    width: 120px;
    margin: auto;
}

/* ABOUT SECTION */

.about-swiper {
    width: 250px;
    height: 250px;
    position: relative;
    margin: 20px auto 50px;
}

.about-swiper .swiper-slide {
    background-position: center;
    background-size: cover;
}

#about-section {
    color: var(--p-dark-grey);
    background-color: var(--off-white);
}

.about-wrapper {
    height: fit-content;
}

.about-swiper .swiper-slide {
    background-color: var(--off-white);
    border: 2px solid var(--logo-green);
}

.about-slide-logo {
    background: url(/static/images/logo-square.png);
}

.about-slide div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--off-white);
    font-family: 'Englebert', sans-serif;
    font-size: 350%;
    color: var(--logo-green);
}

/* FEATURE (Project & Blog) CAROUSEL */

#featured-projects h2 {
    color: var(--p-light-grey);
}

#featured-projects .swiper-container,
#featured-blogs .swiper-container {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

#featured-projects .swiper-slide {
    width: 100%;
}

#featured-projects .swiper-slide {
    display: flex;
}

#featured-blogs .swiper-slide {
    display: block;
    background-color: var(--off-white);
    color: darkgrey;
    padding: 1.6rem;
}

#featured-projects .swiper-slide img,
#featured-blogs .swiper-slide img {
    width: 100%;
}

.project-card-excerpt p {
    text-align: left;
}

/* BLOG SECTION */
#featured-blogs h2 {
    color: var(--off-white);
}

#featured-blogs .swiper-slide {
    height: 230px;
}

#featured-blogs .swiper-slide h4 {
    color: var(--logo-green);
}

.blog-read-more-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

/* CONTACT SECTION */
#contact-section {
    background-color: var(--off-white);
    color: var(--bg-grey);
}

#contact-section p {
    color: var(--p-dark-grey);
}

.contact-btn {
    color: var(--p-light-grey);
    background-color: var(--logo-green);
}

.contact-btn:hover {
    color: var(--logo-green);
    background-color: var(--p-light-grey);
    border: 1px solid var(--logo-green);
}

/* SUPPORTERS SECTION */

#support-section {
    color: var(--p-dark-grey);
    background-color: var(--off-white);
}

.support-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--p-light-grey);
    background: transparent;
    height: 120px;
    width: 120px;
    margin: auto;
}

.support-block img {
    width: 100%;
    height: inherit;
    padding: 10px;
    border: 1px solid var(--logo-green);
    box-shadow: var(--box-shadow);
}

/* ABOVE FOOTER SECTION */
#base-grid {
    background-color: var(--p-light-grey);
    border-top: 2px solid var(--bg-grey);
}

.base-wrap {
    float: left;
    position: relative;
    width: 12.5%;
}

.base-img {
    max-width: 100%;
    border: 2px solid var(--bg-grey);
}

.base-wrap:nth-child(odd) {
    filter: grayscale(100%);
}

/* === END HOME PAGE === */


/* ==== MEDIA QUERIES ==== */

@media (min-width: 375px) {
    #mainCarousel .swiper-container {
        padding: 40px 0;
    }

    #lead-in {
        padding: 1.6rem 0;
    }

    .contact-image {
        height: 160px;
    }

    #contact {
        padding: .65rem 0;
    }
}

@media (min-width: 576px) {
    .slide-text-wrapper {
        padding: 2rem;
        margin: auto 1rem;
    }

    .mailing-form,
    .mailing-text {
        width: 75%;
    }

    #contact {
        padding: 1rem 0;
    }

    #contact .row {
        padding: 1rem;
        box-shadow: 0 6px 13px -2px rgba(0, 0, 0, 0.2);
    }

    .contact-image {
        height: 200px;
        padding: 1rem;
    }
}

@media (min-width: 768px) {
    #mainCarousel {
        height: 80vh;
    }

    #mainCarousel .swiper-container {
        padding: 50px 0;
    }

    #mainCarousel .swiper-slide {
        width: 70%;
        height: 70vh;
    }

    .slide-text-wrapper {
        margin: auto 25px 25px;
        font-size: 1.1rem;
    }

    #lead-in {
        padding: 35px 0;
    }

    .lead-in-block,
    .support-block {
        height: 100px;
        width: 100px;
    }

    .about-swiper {
        width: 275px;
        height: 275px;
        float: left;
        margin: 5px 20px 20px 0;
    }

    #featured-blogs .swiper-slide {
        height: 270px;
    }
}

@media (min-width: 1024px) {

    .slide-text-wrapper {
        margin: auto auto 25px 25px;
        font-size: 1.2rem;
    }

    .lead-in-block,
    .support-block {
        height: 120px;
        width: 120px;
    }

    .about-swiper {
        width: 300px;
        margin: 5px 30px 25px 0;
    }

    .about-wrapper p {
        font-size: 1.2rem;
    }

    #featured-blogs .swiper-slide {
        height: 240px;
    }
}

@media (min-width: 1200px) {
    section {
        padding: 2.8rem 1.5rem;
    }

    #lead-in {
        padding: 40px 0;
    }

    .lead-in-block,
    .support-block {
        height: 150px;
        width: 150px;
    }

    #featured-blogs .swiper-slide {
        height: 260px;
    }

    .mailing-form,
    .mailing-text {
        width: 75%;
    }
}

@media (min-width: 1500px) {
    #featured-blogs .swiper-slide {
        height: 210px;
    }
}