<div class="row">
    <!-- Summary -->
    <div class="col-12">
        <div class="d-flex">
            <p class="my-3">Donation Summary({{ request.session.cart.keys|length }}):</p>
        </div>
    </div>
    <div class="col-8">
        <h4>Project Details</h4>
    </div>
    <div class="col-4 text-right">
        <h4>Amount</h4>
    </div>
</div>
<!-- project details -->
{% for item in cart_items %}
<div class="row my-3 donated-project">
    <div class="col-3 p-0">
        {% include "cart/project-img.html" %}
    </div>
    <div class="col-7">
        <div><strong>{{ item.project.name }} in {{ item.project.country|capfirst  }}</strong></div>
        <div><small class="text-muted"><i class="fas fa-tag fa-fw mr-1"></i>{{ item.project.category }}</small></div>
        <div><small class="text-muted"><i class="fas fa-map-pin fa-fw mr-1"></i>{{ item.project.pin_id }}</small></div>

    </div>
    <div class="col-2 text-right">
        <div><strong>&euro;{{ item.donation_amount|floatformat:2 }}</strong></div>
    </div>
</div>
{% endfor %}