{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %}

{% block content %}
<section id="checkout">
    <div class="container">
        <h2>Thank You!</h2>
        <div class="hr-dark"></div>
        <p>Your order information is below. A confirmation email will be sent to
            <strong>{{ order.email }}</strong>.</p>

        <div class="row">
            <div class="col-12 ">
                <div class="order-confirmation-wrapper p-2">
                    <div class="row">
                        <div class="col">
                            <strong>Order Info:</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.order_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <strong>Order Details:</strong>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>
                                {{ item.project.name }}
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>
                                &euro;{{ item.lineitem_total }}

                            </p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            <strong class="text-muted">Billing Address:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Address 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Address 2</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>County</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Postal Code</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small>Billing Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Order Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>&euro;{{ order.total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- back to projects -->
            <div class="col-6">
                <a class="btn btn-outline-success my-2" href="{% url 'projects' %}">
                    <i class="fas fa-chevron-left mr-2"></i>
                    Back to Projects
                </a>
            </div>
            <!-- blog -->
            <div class="col-6">
                <a class="btn btn-outline-success my-2" href="">
                    <i class="fas fa-chevron-left mr-2"></i>
                    Checkout Blog
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}