#donation-cart {
    background-color: var(--p-light-grey);
    color: var(--p-dark-grey);
    min-height: 60vh;
}

.no-donation-img {
    max-height: 220px;
    object-fit: cover;
}

.donated-project {
    border: 1px solid var(--logo-green);
    margin: 0px;
    padding: 10px;
    box-shadow: var(--box-shadow);
}

.remove-donation {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 10px;
    transition: all 0.3s ease-in-out
}

.remove-donation:hover {
    text-decoration: none;
    transform: scale(1.1);
    font-weight: 500;
}

@media (min-width: 414px) {
    .no-donation-img {
        max-height: 250px;
    }
}

@media (min-width: 576px) {
    .browse-btn {
        position: absolute;
        bottom: 0;
    }
    .remove-donation {
        right: 18px;
    }

    .no-donation-img {
        max-height: fit-content;
    }
}




