@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Jost:wght@300;400;500&family=Quicksand:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- SITE COLOUR VARIABLES ---*/
:root {
    --logo-green: #419a1c;
    --p-light-grey: #f5f5f5;
    --p-dark-grey: #44444e;
    --bg-grey: #262626;
    --foot-text: #888;
    --links: #4682bf;
    --off-white: #fafafa;

    /* --buttons:  */
    --p-donate: #ffc107;
    --p-warn: #b71234;

    /* project categories */
    --p-envir: #00675a;
    --p-wild: #55601c;
    --p-edu: #006983;
    --p-commun: #53284f;

    /* shadow */
    --box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

/* --- GENERAL ---*/
body {
    color: var(--p-light-grey);
    background-color: var(--bg-grey);
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    height: 100vh;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

h1 {
    padding-top: 30px
}

h2 {
    padding: 1.4rem .6rem;
}

section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.break-line {
    background-color: var(--off-white);
    opacity: 50%;
    width: 75%;
    height: 1px;
    margin: 10px auto;
}

/* --- NAVIGATION --- */

#navBar {
    font-weight: 400;
    font-size: 1.1rem;
    background-color: var(--off-white);
    top: 0;
    width: 100vw;
    height: 85px;
    box-shadow: var(--box-shadow);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--p-dark-grey);
}

.mobile-logo {
    width: 50px;
}

.desktop-logo {
    width: 200px;
}

.nav-item {
    margin-right: 20px;
}

.nav-icons i {
    color: var(--logo-green);
}

.mobile-icon img {
    width: 30px;
    height: 30px;
}

.dropdown-menu {
    left: auto;
}

/* mobile-side-menu */
.sidenav {
    height: fit-content;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: var(--off-white);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 75px 0;
    box-shadow: var(--box-shadow);
}

.sidenav a {
    color: var(--p-dark-grey);
    padding: 5px 5px 30px;
    text-decoration: none;
    display: block;
    transition: 0.5s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
}

/* CTA banner */
#ctaBanner {
    height: 30px;
    letter-spacing: 2px;
    background-color: #fdf497;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0px 0px 18px 2px rgb(0 0 0 / .1);
    z-index: 2;
}

#ctaBanner i {
    position: absolute;
    right: 10px;
    align-self: center;
    color: var(--p-dark-grey);
}

#ctaBanner a {
    color: var(--p-warn);
    font-weight: 500;
    text-transform: uppercase;
    align-self: center;
    text-decoration: none;
}

/* --- ======== PAGES ======== --- */

/* === HOME PAGE === */

/* MAIN CAROUSEL */
#mainCarousel {
    height: 70vh;
}

.hero-slide {
    background: url(https://images.unsplash.com/photo-1588442025058-dffe84001858?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1196&q=80);
}

.eco-slide {
    background: url(https://images.unsplash.com/photo-1420745981456-b95fe23f5753?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}

.community-slide {
    background: url(https://images.unsplash.com/photo-1473605768212-7e1f2c756179?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}

.wildlife-slide {
    background: url(https://images.unsplash.com/photo-1523805009345-7448845a9e53?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);
}

.education-slide {
    background: url(https://images.unsplash.com/photo-1473649085228-583485e6e4d7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1489&q=80);
}

.marine-slide {
    background: url(https://images.unsplash.com/photo-1602587557695-9fa83da489c8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}

.health-slide {
    background: url(https://images.unsplash.com/photo-1459183885421-5cc683b8dbba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}

.slide-text-wrapper {
    width: fit-content;
    background: #0000009C;
    color: var(--off-white);
    align-self: center;
    padding: 1rem;
    margin: auto .5rem;
    border-radius: 8px;
}

.home-slide-btn span {
    font-weight: 400;
}

.home-slide-btn a {
    background-color: var(--p-warn);
    padding: 6px;
    color: var(--p-light-grey);
}

.home-slide-btn a:hover {
    background-color: var(--p-light-grey);
    color: var(--p-warn);
    ;
}

/* LEAD-IN SECTION */

.lead-in-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--logo-green);
    color: var(--p-dark-grey);
    background-color: var(--off-white);
    height: 120px;
    width: 120px;
    margin: auto;
}

/* ABOUT SECTION */

#about-section {
    color: var(--p-dark-grey);
    background-color: var(--off-white);
}

.about-wrapper {
    height: fit-content;
}

.about-swiper .swiper-slide {
    background-color: #fafafa;
    border: 2px solid var(--logo-green);
}

.about-slide-logo {
    background: url(../images/logo-square.png);
}

.about-slide div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fafafa;
    font-family: 'Englebert', sans-serif;
    font-size: 350%;
    color: var(--logo-green);

}

/* BLOG SECTION */

#blog-section {
    color: var(--p-dark-grey);
    background-color: var(--off-white);
}

/* CONTACT SECTION */
#contact-section {
    color: var(--off-white);
    background-color: var(--bg-grey);
}

#contact-section p {
    color: var(--p-dark-grey);
}

.contact-btn {
    color: var(--p-light-grey);
    background-color: var(--logo-green);
}

.contact-btn:hover {
    color: var(--logo-green);
    background-color: var(--p-light-grey);
    border: 1px solid var(--logo-green);
}

/* SUPPORTERS SECTION */

#support-section {
    color: var(--p-dark-grey);
    background-color: var(--off-white);
}

.support-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--p-light-grey);
    background: transparent;
    height: 120px;
    width: 120px;
    margin: auto;
}

.support-block img {
    width: 100%;
    height: inherit;
    padding: 10px;
    border: 1px solid var(--logo-green);
    box-shadow: var(--box-shadow);
}

/* ABOVE FOOTER SECTION */
#base-grid {
    background-color: var(--p-light-grey);
    border-top: 2px solid var(--bg-grey);
}

.base-wrap {
    float: left;
    position: relative;
    width: 12.5%;
}

.base-img {
    max-width: 100%;
    border: 2px solid var(--bg-grey);
}

.base-wrap:nth-child(odd) {
    filter: grayscale(100%);
  }

/* === END HOME PAGE === */

/* --- FOOTER --- */

footer {
    background-color: var(--bg-grey);
    padding: 45px 30px 20px;
    font-size: 1rem;
    line-height: 24px;
    color: var(--foot-text);
}

footer h6 {
    color: var(--p-light-grey);
    text-transform: uppercase;
    margin: 10px 0;

}

footer hr {
    border-top-color: var(--foot-text);
    opacity: 0.5
}

footer a {
    color: var(--foot-text);
}

footer a:hover {
    color: var(--links);
    text-decoration: none;
}

.footer-logo {
    max-height: 50px;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: var(--foot-text);
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: var(--links);
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block;
}

footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    border-radius: 100%;
    background-color: var(--p-dark-grey);
}

.copyright-text {
    margin: 0;
}

footer .copyright-text,
footer .social-icons {
    text-align: center;
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-flex;
    margin-bottom: 5px;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: var(--p-light-grey);
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.instagram:hover {
    /* Credit: radial gradient with instagram colours https://codepen.io/thomasrye/pen/VaRoYv */
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

/* mailing list form */
.mailing-form,
.mailing-text {
    display: flex;
    width: 100%;
}

.mailing-form input[type=text] {
    padding: 10px;
    border: 1px solid var(--foot-text);
    width: 100%;
    background: var(--p-light-grey);
}

.mailing-form button {
    width: 20%;
    padding: 10px;
    background: var(--p-envir);
    color: var(--p-light-grey);
    border: 1px solid var(--foot-text);
    cursor: pointer;
}

form.mailing-form button:hover {
    background-color: var(--p-donate);
}

/* ====== BACK TO TOP BUTTON ====== */
#back-to-top {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10vh;
    color: darkred;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: bisque;
    padding: 8px;
    border-radius: 15px;
    opacity: .7;
    z-index: 2;
}

#back-to-top:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake .5s;

    /* When the animation is finished, start again */
    animation-iteration-count: initial;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* ====== end back to top button ====== */


/* --- MEDIA QUERIES --- */

@media (min-width: 375px) {
    #lead-in-section {
        padding: 25px 0;
    }
}

@media (min-width: 576px) {
    .slide-text-wrapper {
        padding: 2rem;
        margin: auto 1rem;
    }

    .mailing-form,
    .mailing-text {
        width: 75%;
    }
}

@media (min-width: 768px) {
    section {
        padding: 2rem 1rem;
    }

    h1 {
        padding-top: 50px;
    }

    h2 {
        text-align: left;
        padding-top: 15px;
        margin-bottom: 15px;
        font-size: 2.5rem;
    }

    section p {
        font-size: 1.1rem;
    }

    #navbar {
        font-size: 1.2rem;
    }

    #mainCarousel {
        height: 80vh;
    }

    .slide-text-wrapper {
        margin: auto 25px 25px;
        font-size: 1.1rem;
    }

    #lead-in-section {
        padding: 35px 0;
    }

    .lead-in-block,
    .support-block {
        height: 100px;
        width: 100px;
    }

    footer h6 {
        margin: 15px 0;
        letter-spacing: 3px;
    }

    .mailing-form,
    .mailing-text {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .slide-text-wrapper {
        margin: auto auto 25px 25px;
        font-size: 1.2rem;
    }

    .lead-in-block,
    .support-block {
        height: 120px;
        width: 120px;
    }

    .about-wrapper p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {
    section {
        padding: 2.8rem 1.5rem;
    }

    .nav-item {
        margin-right: 40px;
        font-size: 1.3rem;
    }

    #lead-in-section {
        padding: 40px 0;
    }

    .lead-in-block,
    .support-block {
        height: 150px;
        width: 150px;
    }

    .mailing-form,
    .mailing-text {
        width: 75%;
    }
}