{% load static %}

<!-- Mobile nav menu Icon-->
<div class="mobile-icon d-lg-none col-2 col-sm-1 d-flex justify-content-end">
    <span style="cursor:pointer" onclick="openNav()">
        <img src="{% static 'images/hamburger-icon.png' %}" alt="mobile-menu-icon">
    </span>
</div><!-- Mobile nav menu -->
<div id="sideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url 'home' %}">Home</a>

    <div class="nav-item dropdown m-0">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Projects
        </a>
        <div class="dropdown-menu project-sub-menu rounded-0 border-0 m-0">
            <div class="hr-dark w-100"></div>
            <a class="dropdown-item text-uppercase pl-0" href="{% url 'projects' %}">
                <img src="{% static 'images/svg/globe-icon.svg' %}" alt="globe icon">All Projects
            </a>
            <div class="hr-dark w-100"></div>
            <a class="dropdown-item" href="{% url 'projects' %}?category=environment">
                <img src="{% static 'images/svg/eco-icon.svg' %}" alt="eco leaf icon">Environment
            </a>
            <a class="dropdown-item" href="{% url 'projects' %}?category=wildlife">
                <img src="{% static 'images/svg/paw-icon.svg' %}" alt="paw icon">Wildlife
            </a>
            <a class="dropdown-item" href="{% url 'projects' %}?category=marine">
                <img src="{% static 'images/svg/marine-icon.svg' %}" alt="waves icon">Marine
            </a>
            <a class="dropdown-item" href="{% url 'projects' %}?category=community">
                <img src="{% static 'images/svg/vol-icon.svg' %}" alt="hand and heart icon">Community
            </a>
            <a class="dropdown-item" href="{% url 'projects' %}?category=education">
                <img src="{% static 'images/svg/edu-icon.svg' %}" alt="education hat icon">Education
            </a>
            <a class="dropdown-item" href="{% url 'projects' %}?category=health">
                <img src="{% static 'images/svg/health-icon.svg' %}" alt="medical bag icon">Health
            </a>
        </div>
    </div>
    <a href="#">Blog</a>
    <a href="#">Contact</a>
</div>