{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}

<section id="blogDescription">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <h2>Blog Description</h2>

                    <h5>{{ blog_description.title|safe }}</h5>
                    <p>{{ blog_description.content|safe }}</p>

            </div>
        </div>
    </div>
</section>

{% endblock %}