{% extends "account/base.html" %}

{% load i18n %}

{% load socialaccount %}
{% providers_media_js %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<h2>{% trans "Sign In" %}</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="mb-4">
    {% blocktrans with site.name as site_name %}
    Please sign in with one of your existing third party accounts.
    {% endblocktrans %}
</p>

<div class="socialaccount_ballot">

    <div class="socialaccount_providers">
        <div class="row">
            <!-- facebook login -->
            <div class="col-12 my-2">
                <a href="{% provider_login_url "facebook" method="oauth2" %}"
                    class="btn btn-block btn-facebook mx-auto text-left">
                    <i class="fa fa-facebook fa-lg mr-2"></i>
                    Login with Facebook
                </a>
            </div>
            <!-- github login -->
            <div class="col-12 my-2">
                <a id="github-button" href="{% provider_login_url "github" %}"
                    class="btn btn-block btn-github mx-auto text-left">
                    <i class="fa fa-github fa-lg mr-2"></i>
                    Login with GitHub
                </a>
            </div>
            <!-- google login -->
            <div class="col-12 my-2 text-center">
                <a title="Google" href="/accounts/google/login/?process=login"
                    class="google btn btn-outline-dark mx-auto text-left">
                    <img alt="Google sign-in"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </a>
            </div>
        </div>
    </div>


    <div class="login-or my-3 text-center font-weight-bold">{% trans '- OR -' %}</div>
    {% blocktrans with site.name as site_name %}
    <div class="mb-3">
        <a href="{{ signup_url }}">SIGN UP</a><span> for a <strong>{{ site_name }}</strong> account and sign in
            below:</span>

    </div>
    {% endblocktrans %}
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>
    {% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">
        SIGN UP
    </a>
    first.{% endblocktrans %}
</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'home' %}">Home</a>
    <button class="btn btn-primary primaryAction" type="submit">{% trans "Sign In" %}</button>
    <p class="mt-2">
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </p>
</form>

{% endblock %}