{% extends 'base.html' %}
{% load static %}

{% block content%}
    <section id="error404">
        <div class="container text-center">
            <h2>404 - Page Not Found</h2>
            <p class="my-3">Oops! Seems the page you tried to access does not exist.</p>
            <img class="p-3" src="{{ MEDIA_URL }}404-image.jpg" alt="Monkey staring at camera">
            <div class="my-3 text-center">
                <a href="{% url 'home' %}" class="btn btn-customGreen">
                    <i class="fas fa-chevron-left mr-2" aria-hidden="true"></i>
                    Take me back!
                </a>
            </div>
        </div>
    </section>
{% endblock %}